{% extends 'layout.html' %}
{% block title %}Details{% endblock %}
{% set stylesheet = url_for('static', filename='details.css') %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>MAC address</th>
                <th>Drawer 1 value</th>
                <th>Drawer 2 value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ drawer.MACaddr }}</td>
                <td>{{ drawer.drawer1 }}</td>
                <td>{{ drawer.drawer2 }}</td>
            </tr>
        </tbody>
    </table>
    <div class="container1">
        <h1>Zvol, ktora zastrcka sa ma zapnut/vypnut.</h1>
        <form method="POST" action="/details/{{ drawer.id }}">

            <label for="drawer1">Drawer 1:</label>
                <div class="toggle-button-cover">
                    <div class="button-cover">
                        <div class="button r button-9" id="button-10">
                            <input type="checkbox" class="checkbox" name="drawer1" {% if drawer.drawer1 == 1 %}checked{% endif %} />
                            <div class="knobs">
                            <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            <label for="drawer2">Drawer 2:</label>
                <div class="toggle-button-cover"> 
                    <div class="button-cover"> 
                        <div class="button r button-9" id="button-10">
                            <input type="checkbox" class="checkbox" name="drawer2" {% if drawer.drawer2 == 1 %}checked{% endif %} />
                            <div class="knobs">
                            <span></span>
                            </div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            <input type="hidden" name="id" value="{{ drawer.id }}">
            <button type="submit">Update</button>
        </form>
        <form method="POST" action="/details/{{ drawer.id }}/all">
            <button type="submit">Vypni vsetky zasuvky</button>
        </form>
    </div>
{% endblock %}