{% extends 'layout.html' %}
{% block title %}Login page{% endblock %}
{% set stylesheet = url_for('static', filename='login.css') %}
{% block content %}
	<h1>Login</h1>
	<form method="post" action="#">
		<label for="username">Meno:</label>
		<input type="text" name="username" id="username" required>
		<label for="password">Heslo:</label>
		<input type="password" name="password" id="password" required>
		<button type="submit">Prihlásiť sa</button>
	</form>
	{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'popup' %}
    <div id="popup">
        <p>{{ message }}</p>
    </div>
    <script>
        $(document).ready(function(){
            $('#popup').fadeIn().delay(3000).fadeOut();
        });
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}
