table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
form {
    margin-top: 20px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="submit"] {
    margin-top: 10px;
}
.button1 {
background-color: #f44336;
color: white;
border: none;
padding: 10px 20px;
font-size: 16px;
position: fixed;
top: 10px;
right: 10px;
z-index: 9999;
}

.button1:hover {
background-color: #d32f2f;
cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #f1f1f1;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
form label, form select, form input[type="submit"] {
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
form label {
    font-weight: bold;
}
form select {
    background-color: #f1f1f1;
}
form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
form input[type="submit"]:hover {
    background-color: #3e8e41;
}