body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #3e8e41;
    padding: 20px;
    display: none;
    z-index: 1;
}

@media (max-width: 600px) {
    .container {
        max-width: 600px;
        margin-top: 20px;
    }
    h1 {
        font-size: 24px;
    }
    input[type="text"],
    input[type="password"] {
        padding: 8px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    button[type="submit"] {
        padding: 8px 16px;
        font-size: 16px;
    }
}